{% extends 'rango/base.html' %}
        {% block title %}Add Page{% endblock %}
    </head>

    {% block body_block %}
        <h1>Add a Page</h1>

        <form id="page_form" method="post" action="{% url 'category' category.slug %}">

            {% csrf_token %}
            {% load bootstrap_toolkit %}

            {{ form|as_bootstrap }}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <br/>
                <button class="btn btn-primary spacer" type="submit" name="submit">Add Page</button>
        </form>
    {% endblock %}